<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="module" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="row[name]" value="{$row.name}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="module" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="row[mobile]" value="{$row.mobile}" />
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[gender]', ['1' => __('Male'), '2' => __('Female')], $row['gender'])}
        </div>
    </div>



    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('doctor')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="doctor_id" data-source="doctor/index" class="form-control selectpage" name="row[doctor_id]" type="text" value="{$row.doctor_id}">
        </div>
    </div>



    <div class="form-group">
        <label for="birth_year" class="control-label col-xs-12 col-sm-2">{:__('Birth_year')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="age" name="row[birth_year]" value="{$row.birth_year}" />
        </div>
    </div>
    
    <!-- <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('disease')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="radio" name="row[gender]" value="1" id="type-text" checked />
            <label for="type-text">{:__('Male')}</label>
            <input type="radio" name="row[gender]" value="2" id="type-app" />
            <label for="type-app">{:__('Female')}</label>
        </div>
    </div> -->


    <div class="form-group">
        <label for="disease" class="control-label col-xs-12 col-sm-2">{:__('disease')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="disease" name="row[disease]" value="{$row.disease}" />
        </div>
    </div>

    <div class="form-group">
        <label for="diagnose_at" class="control-label col-xs-12 col-sm-2">{:__('diagnose_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="diagnose_at" name="row[diagnose_at]" value="{$row.diagnose_at}" />
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('medicine')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[medicine]', ['1' => __('M1'), '2' => __('M2')], $row['medicine'])}
        </div>
    </div>


    <div class="form-group">
        <label for="address" class="control-label col-xs-12 col-sm-2">{:__('address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[address]" class="form-control"  rows="3">{$row.address}</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label for="smoke" class="control-label col-xs-12 col-sm-2">{:__('smoke')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="smoke" name="row[smoke]" value="{$row.smoke}" />
        </div>
    </div>
	
    <div class="form-group">
        <label for="memo" class="control-label col-xs-12 col-sm-2">{:__('memo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[memo]" class="form-control"  rows="10">{$row.memo}</textarea>
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


